<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="main">
      <h1 v-if="conected">Estás conectado</h1>
      <!-- Renderizado condicional -->
      <p v-if="edad >= 18">Eres mayor de 18</p>
      <p v-else>No puedes entrar</p>
      <hr />

      <h2>Renderizado de listas</h2>
      <ul>
        <li v-for="item in list">{{item}}</li>
      </ul>
      <hr />
      <ul>
        <li v-for="item in peopleList">{{item.name}} - {{item.age}}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="code.js"></script>
  </body>
</html>
